{%extends "base.html"%} {%import "bootstrap/wtf.html" as wtf%} {%block content%}
<br><br><br>
<div class="container">
    <div class="container">
        <div class="row" style="background-image: url('/static/images/background3.jpg'); margin-top: 4%;padding-top: 10%;padding-bottom: 10%; margin-bottom: 3%;">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                {%for message in get_flashed_messages()%}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> {{message}}
                </div>
                {% endfor %} {{wtf.quick_form(login_form)}}
                <p class="text-center">Don't have an account?? <a href="{{url_for('auth.register')}}">Sign Up</a></p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<style>

</style>

{%endblock%}