{% extends 'base.html'%}{% import 'bootstrap/wtf.html' as wtf%} {% from 'macros.html' import display_blogs%} {% from 'macros.html' import display_comments%} {% block content %}

<body>

    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div>{{ (posts) }}</div>
            <div class="">{{display_blogs(posts)}}</div>
            <div class="">{{display_comments(comments)}}</div>
        </div>

    </div>

    <div class="container">
        <div class="row col-md-12" style="margin-top: 5%;padding-top: 5%;padding-bottom: 5%;width: 50%;border-radius: 20px;margin-left: 25%;background-color: chocolate;">
            <div class="col-md-2"></div>
            <div class="col-md-8">{{wtf.quick_form(comment_form)}}</div>
            <div class="col-md-2"></div>
        </div>
    </div>

    {% endblock %}